#canvas {
  box-shadow:1px 14px 93px 2px rgba(0, 0, 0, 0.41);
  background: #eee;
}

body {
  display: flex;
  background:#575963;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
