@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/* GENERAL */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

html {
  min-height: 100vh;
}

body {
  background-color: #4f60ad;
  margin: 0 auto;
  text-align: center;
  width: 100vw !important;
  min-height: 100vh;
}
.container {
  display:flex;
  flex-direction: column;
  width: 100vw !important;
  height: 93vh;
}
body:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    height: 100%;
    margin: 0 auto;
    }
#canvas {
  box-shadow: 1px 4px 53px 2px rgba(0, 0, 0, 0.31);
  background: white;
  margin-bottom: 0%;
  margin-top: 0% !important;
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  padding-top: 10px;
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 4em;
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: .06em; left: .06em;
  padding-top: 15px;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(
      45deg,
      transparent 45%,
      hsla(48,20%,90%,1) 45%,
      hsla(48,20%,90%,1) 55%,
      transparent 0
      );
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
  }
[data-shadow] {
  margin: 0 auto !important;
  }
@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: 'Pacifico', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.4em;
}
header {
  position: relative;
  height: 0px;
}
#main-nav {
  position: absolute;
  right: 0;
    margin-right: 2%;
    cursor: pointer;
  margin-top: -5px;
}
.chat-open-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 40px;
  padding: 0 !important;
  /* margin-right: 2%; */
  cursor: pointer;
}
.chat-open-button a {
  display: inline-block;
  height: 40px;
  line-height: 1em;
  padding-left: 5%;
  color: #FFF;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
  font-weight: lighter;
 }
a {
    display: inline-block;
    height: 40px;
    line-height: 1em;
    padding-left: 5%;
    color: #FFF;
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
  font-weight: lighter;
}
li {
    display: inline-block;
    margin-left: 1em;
}

/* NAVIGATION & CHAT */
.logout, .login, .register, .open-chat {
  padding: 10px 14px 0px 14px;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
  -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.info {
  position: absolute;
  width: 40px;
  height: 35px;
  /* bottom: -25px; */
  left: 2px;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}
#info-button {
  float:left;
  width: 30px;
  height: 30px;
  padding-bottom: 0px;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
  z-index: 5;
  }
 #logout-link {
    display: none;
    margin-right: -20% !important;

  }
 .logout:hover, .login:hover, .register:hover, .open-chat:hover, .close-chat:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#info-button:hover {
  opacity: 0.6;
 }
.open-chat {
  width: 238px;
  padding: 12px 14px 0px 14px;
  height: 40px;
  border: 1px solid #fff;
  text-align: left;
  border-radius: 10px;
}
#chat-button {
  background: #4f60ad !important;
  transition: all 0.25s;
}
.up-arrow {
  width: 20px !important;
  height: 20px;
}
.expand {
  float: right;
  height: 20px !important;
}

/* CHAT BOX */
.invisible {
  opacity: 0;
}

#chat-box {
  /* display: none; */
  width: 238px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* z-index: 5; */
  transition: all 0.25s;
}
.chat-img {
  display: none;
}
.Chat {
  border-radius: 10px;
  border: 1px solid #fff;
  /* width: 240px !important; */
  background-color: #fff;
}
.chat-header {
  z-index: 6;
  top: 0;
  left: 0;
  padding: 0;
  text-align: left;
  margin: 0;
  background: #4f60ad !important;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.close-chat {
  width: 238px;
  padding: 12px 14px 0px 14px;
  text-align: left;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}

.down-arrow {
  width: 20px !important;
  height: 20px;
  float: right;
}

 .chat-logs-div {
  z-index: 6;
  background-color: #E5E6F3;
  color: black;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}
.chat-logs {
  text-align: left;
  padding: 2px;
}
.chat-logs > div {
  margin-bottom: 6px;
}
.chat-logs p {
  margin: 0;
  padding: 0px 5px 5px 5px;
}
.chat-user {
  color: #49589f;
  font-size: 0.85em;
  font-weight: bold;
  font-family: 'Pacifico', sans-serif;
}
.chat-created-at {
  color: grey;
  font-size: 0.8em;
  opacity: 0.8;
 }

.chat-message {
  font-size: 0.85em;
}
.chat-input-div {
  z-index: 6;
  background-color: #fff;
  color: black;
  border: 1px solid #fff;
  border-top: 1px solid grey;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.chat-input-div input {
  height: 30px;
  width: 78%;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95em;
  opacity: 0.8;
}
.chat-input-div button {
  font-size: 14px;
  padding: 2px;
  background-color: #fff !important;
  border: none !important;
  font-family: 'Poppins', sans-serif;
  color: #49589f;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
}

.chat-input-div button:hover {
  opacity: 0.6;
}
/* RESPONSIVENESS */
@media only screen and (max-width: 1350px)  {
  #chat-button {
    width: 160px;
    padding-left: -2%;
  }
  .live {
    display: none !important;
  }
  #chat-box {
    width: 180px;
  }
  .close-chat {
    width: 180px;
  }
  .down-arrow {
    width: 0px;
  }

}
@media only screen and (max-width: 1332px)  {
  #chat-button, .register {
    margin-right: -5% !important;
  }

  #chat-box {
    margin-right: -0.6% !important;
  }
  .chat-input-div input {
    width: 110px !important;
   }
}

@media only screen and (max-width: 1295px)  {
  #colorPick {
    margin-left: -2.75%;
  }
  .colorPickSelector {
    margin-left: 2% !important;
  }
}
@media only screen and (max-width: 1215px)  {
  #colorPick {
    padding-top: 2%;
    margin-left: -3.2%;
    width: 90px;
  }
  #chooseColor {
    display: none !important;
  }
  h1 {
    font-size: 3em;
  }
  h1:after {
    padding-top: 13px;
  }
  h3 {
    font-size: 1.2em;
  }
  .colorPickSelector {
    margin-left: 2% !important;
  }
  #info-button {
    width: 20px;
    height: 20px;
  }
  #chat-button {
    width: 100px;
  }
  .chat-button-text {
    padding-left: 7px;
  }

}

@media only screen and (max-width: 1115px)  {
  .colorPickSelector {
    display:none;
  }
  #colorPick {
    width: 83vw !important;
    margin: auto !important;
    top: 730px !important;
    margin-bottom: 2% !important;
    margin-left: 2%;
  }
  h1 {
    padding-bottom: 2%;
  }
  h3 {
    display: none;
  }
  .recentColor {
    display: none;
  }
  #recent-heading {
    display:none !important;
  }
  .colorPickDummy {
    display: none !important;
  }

  #chat-box {
    width: 238px;
    right: auto !important;
    margin-left: 2% !important;
    top: 45px;
    left: 40px;
  }
  .Chat {
    width: 238px;
  }
  .close-chat {
    width: 238px;
  }
  .up-arrow {
    display: none;
  }
  #chat-button {
    width: 62px;
    border:none;
   }
  .chat-img {
    width: 22px;
    height: 22px;
    display: inline-block;
  }
  .chat-input-div input {
    width: 170px !important;
  }
  .chat-button-text {
    display:none;
  }
  .open-chat:hover  {
    box-shadow: none !important;
    opacity: 0.7;
  }
  .chat-open-button {
    top: 0 !important;
    left: 46px !important;
    width: 62px;
    margin-top: 5px;
  }
}

 @media only screen and (max-width: 1054px) {
   #chat-button {
     width: 62px;
   }
 }


 @media only screen and (max-width: 916px) {
  #colorPick {
    margin-left: -0.5% !important;
    padding-bottom: 10px;
   }
 }

 @media only screen and (max-width: 888px) {
  #colorPick {
    margin-left: -1% !important;
   }
 }

  @media only screen and (max-width: 835px) {
   #colorPick {
     margin-left: -1.5% !important;
    }
  }

  @media only screen and (max-width: 790px) {
   #colorPick {
     margin-left: -2% !important;
    }
  }

  @media only screen and (max-width: 752px)  {
   #colorPick {
     margin-left: -2.5% !important;
    }
  }

  @media only screen and (max-width: 723px)  {
   #colorPick {
     margin-left: -3% !important;
    }
  }

  @media only screen and (max-width: 690px)  {
   #colorPick {
     margin-left: -3.5% !important;
     margin-top: -1% !important;
     padding-bottom: 8px;

    }
  }

@media only screen and (max-width: 655px)  {
  #colorPick {
    margin-left: -4% !important;
    margin-top: -2.75% !important;
  }
  #main-nav {
    margin-top: -15px;
  }
  h1 {
    font-size: 2.5em;
  }

  .register, .login, .logout {
    font-size: 0.8em;
    border: none;
    margin-left: 5px;
    padding: 0;
  }

  .open-chat {
    font-size: 0.8em;
    border:none;
    padding: 0;
  }

  .chat-open-button {
    margin-top: 19px !important;
    padding: 0;
   }
  .login:hover, .register:hover, .logout:hover, .open-chat:hover  {
   box-shadow: none !important;
   opacity: 0.7;
  }
}


@media only screen and (max-width: 635px)  {
  #colorPick {
    margin-left: -4.75% !important;
  }
}

@media only screen and (max-width: 600px)  {
  #colorPick {
    margin-left: -5.5% !important;
  }
}

@media only screen and (max-width: 562px)  {
  #colorPick {
    margin-left: -6% !important;
    margin-top: -3.75% !important;
  }
}

@media only screen and (max-width: 550px)  {
  #colorPick {
    margin-left: -6.5% !important;
    margin-top: -4.5% !important;
    padding-bottom: 6px;
  }
}

@media only screen and (max-width: 550px)  {
  #colorPick {
    margin-left: -7% !important;
  }
}

@media only screen and (max-width: 502px)  {
  #colorPick {
    margin-left: -8% !important;
  }
  #main-nav {
    margin-top: -25px;
  }
  #info-button {
    margin-top: -5px;
    margin-left: -5px;
  }
  .chat-open-button {
    margin-top: 11px !important;
    margin-left: -5px;
  }
}


@media only screen and (max-width: 472px)  {
  #colorPick {
    margin-left: -8.5% !important;
  }
}
@media only screen and (max-width: 456px)  {
  #colorPick {
    margin-left: -9% !important;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 449px)  {
  #colorPick {
    margin-left: -9.25% !important;
    padding-bottom: 4px;
  }
}

@media only screen and (max-width: 442px)  {
  #colorPick {
    margin-left: -9.5% !important;
  }
}

@media only screen and (max-width: 434px)  {
  #colorPick {
    margin-left: -10% !important;
  }
}

@media only screen and (max-width: 428px) {
  #colorPick {
    margin-left: -10.25% !important;
  }
}

@media only screen and (max-width: 420px)  {
  #colorPick {
  margin-left: -10.5% !important;
  }
}

@media only screen and (max-width: 415px)  {
  #colorPick {
  margin-left: -11% !important;
  }
}

@media only screen and (max-width: 405px)  {
  #colorPick {
  margin-left: -11.25% !important;
  }
}

@media only screen and (max-width: 398px)  {
  #colorPick {
  margin-left: -11.5% !important;
  }
}

@media only screen and (max-width: 385px)  {
  #colorPick {
  margin-left: -11.75% !important;
  }
}

@media only screen and (max-width: 378px)  {
  #colorPick {
  margin-left: -12% !important;
  }
}

@media only screen and (max-width: 370px)  {
  #colorPick {
  margin-left: -12.25% !important;
  }
}

/* COLOUR PICK SELECTOR */
.recentColor {
  width: 26px;
  display: inline-block;
}

.colorPickSelector {
  position: absolute;
  margin-top: 125px;
  margin-left: 60px;
  border-radius: 5px;
  width: 36px;
  height: 36px !important;
  cursor: pointer;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -o-transition: all linear .2s;
  transition: all linear .2s;
 }
.colorPickSelector:hover { transform: scale(1.1); }

/* MODALS */
 .info-modal-overlay, .login-modal-overlay, .register-modal-overlay, .login-to-chat-modal-overlay, .change-browser-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  margin-top: -18px;
  z-index: 4;
}
.login-modal, #info-modal {
  background: #fff;
  max-width: 480px;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  padding: 25px 30px 30px 30px;
}
#login-to-chat-modal, #change-browser-modal {
  background: #fff;
  max-width: 480px;
  width: 100%;
  height: 215px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  padding: 25px 30px 30px 30px;
}
.register-modal {
  background: #fff;
  max-width: 480px;
  width: 100%;
  height: 385px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  padding: 25px 30px 30px 30px;
}
.login-modal h2, .register-modal h2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #757575;
  font-kerning: normal;
  hyphens: auto;
  padding-bottom: 30px;
}
.login-modal .group, .register-modal .group {
    position: relative;
    margin-bottom: 45px;
}
input[type=text] {
  font-family: 'Open Sans', sans-serif !important;
}
.login-modal input, .register-modal input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
}
.login-modal input:focus, .register-modal input:focus {
  outline: none;
}
.login-modal label, .register-modal label {
    color: #999;
    font-size: 16px;
  font-family: 'Poppins', sans-serif !important;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: all 0.2s ease;
}
/* active */
.login-modal input:focus ~ label,
.login-modal input.used ~ label, .register-modal input:focus ~ label,
.register-modal input.used ~ label {
    top: -20px;
  transform: scale(.85);
  left: -4px;
    color: #4f60ad;
}
.login-modal .bar, .register-modal .bar {
    position: relative;
    display: block;
    width: 100%;
}
.login-modal .bar:before,
.login-modal .bar:after, .register-modal .bar:before,
.register-modal .bar:after  {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4f60ad;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.login-modal .bar:before, .register-modal .bar:before {
  left: 50%;
}
.login-modal .bar:after, .register-modal .bar:after {
  right: 50%;
}
.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after, .register-modal input:focus ~ .bar:before,
.register-modal input:focus ~ .bar:after {
  width: 50%;
}
#info-heading {
  font-family: 'Pacifico', sans-serif !important;
  font-weight: bold;
  font-size: 1.4em;
  color: #49589f;
}
.accent {
  font-weight: bold;
  color: #49589f;
}
#login-button, #register-button {
  background: #5869b3;
  border: 1px solid #49589f;
  box-shadow: 0px 2px 0 #49589f, 2px 4px 6px #5869b3;
  font-weight: 900;
  color: #fff;
  width: 100%;
  height: 45px !important;
  letter-spacing: 1px;
  transition: all 150ms linear;
  font-family: 'Poppins', sans-serif !important;
}
#login-button:hover, #register-button:hover {
  background: #4d5da8;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  color: #8d98cb;
  text-decoration: none;
  text-shadow: -1px -1px 0 #404e8c;
  transition: all 250ms linear;
}
#info-modal p, #login-to-chat-modal p, #change-browser-modal p {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.85em;
  color: #626464;
}
#info-modal p a, #change-browser-modal p a {
  padding: 0 !important;
  margin: 0 !important;
  color: #4f61ad;
  font-weight: bold;
  height: 20px;
  opacity: 0.6;
  border-bottom: 1px dashed #4f61ad;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#info-modal p a:hover, #change-browser-modal p a:hover {
  opacity: 1;
}
